* {
    box-sizing: border-box;
}

body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #d2deee;
        line-height: 1.6;
        transition: 0.3;
    }


.header {
    background-color: #688fb8;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: 0.3s;
}

.web-name {
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.web-name a{
    text-decoration: none;
    background-color: #d2deee;
    border-radius: 10px;
    color: #333;
    padding: 15px 20px;
    transition: 0.3s;
}

.web-name a:hover{
    opacity: 0.8;
}

.header-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.header-bar svg{
    font-size: 20px;
    margin-bottom: 4px;
    fill:#d2deee;
    transition: 0.3s;
} 


.header-bar a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    color: #d2deee;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header-bar a:hover {
    background-color: #d2deee;
    color: #333;
    padding: 10px 14px;
}

.header-bar a:hover svg {
    fill: #333; 
}

.theme-change {
    background-color: #d2deee;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 0.9rem;
    transition: 0.3s;
}

.theme-change:hover {
    opacity: 0.8;
    padding: 12px 20px;
}




/* ================================================= */
/* -------- Home page -------- */

.home {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    margin-top: 30px;
    background: #688fb8;
    border-radius: 15px;
    transition: 0.3s;
}

.welcome {
    text-align: center;
    margin-bottom: 30px;
    transition: 0.3s;

}

.media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.video-box, .audio-box {
    background: #d2deee;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}


.featured {
    padding: 40px;
    text-align: center;
}

.featured h2 {
    margin-bottom: 20px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.book-card {
    background: #688fb8;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    width: 100%;
    border-radius: 8px;
}

.book-card h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.book-card p {
    font-size: 14px;
    color: #ccc;
}

.book-card a {
    display: inline-block;
    margin-top: 8px;
    margin-left: auto;
    margin-left: auto;
    padding: 6px 10px;
    background: #d2deee;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px 0;
}







/* ------- Books page ------- */
/* header */
.container {
    text-align: center;
    padding: 25px 15px;
    background-image: url("../images/dark-blue-bookshelf.jpeg");
    background-position: center;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.container h1 {
    color: #b8cbe3;
    margin: 0;
    font-size: 32px;
}
/* ================================ */

/* search bar */
.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-bar input {
    width: 260px;
    padding: 10px 14px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
}


.search-bar button {
    padding: 10px 16px;
    border-radius: 25px;
    border: none;
    background-color: #d2deee;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

.search-bar button:hover {
    background-color: #b8cbe3;
}
/* ================================ */


/* controls */
.controls {
    text-align: center;
    margin: 20px 0;
}

.controls button {
    background-color: #2a3558;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.controls button:hover {
    background-color: #3b4a7a;
    transform: translateY(-2px);
}

.controls button.active {
    background-color: #688fb8;
}
/* ================================ */


/* layout */
#books {
    padding: 0 20px 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.list .book {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 2px;
}

.list .book img {
    width: 120px;
    height: 160px;
}
/* ================================ */


/* book card */
.book {
    background-color: #688fb8;
    padding: 12px;
    border-radius: 14px;
    transition: 0.3s;
}

.book:hover {
    transform: translateY(-5px);
}

.book a {
    text-decoration: none;
    color: inherit;
}

.book img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
    background: white;
}

.book h3 {
    margin: 10px 0 5px;
    font-size: 16px;
}

.book p {
    margin: 4px 0;
    font-size: 14px;
    color: #d6ddee;
}

.meta {
    color: #7C6CFF;
    font-size: 13px;
    margin-top: 6px;
}










/* ------- details page -------- */
        .details-page{
            background-color: #d2deee;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .main-title {
            color: #333;
            margin-bottom: 10px;
            text-align: center;
        }

        .sub-title {
            color: #333;
            text-align: left;
            margin-bottom: 30px;
        }

        .details-container {
            display: flex;
            background-color: #688fb8;
            padding: 30px;
            border-radius: 15px;
            max-width: 900px;
            gap: 30px;
            align-items: flex-start;
            margin-left: auto;
            margin-right: auto;
        }

        .book-image {
            border: 10px solid #d2deee;
            max-width: 150px;
            border-radius: 8px;
            flex-shrink: 0;
        }

        .content-section {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .book-description {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
            margin: 0;
        }

        .info-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .info-list li {
            padding: 8px 0;
            border-bottom: 1px dashed #bdc3c7;
            color: #333;
            font-family: monospace;
            font-size: 15px;
        }

        .info-list li i {
            color: #d2deee;
            font-style: italic;
            font-weight: bold;
            margin-left: 10px;
        }
