/*laptop & computer*/
@media (min-width: 768px) {
    .header {
        flex-direction: row; 
        justify-content: space-between;
        padding: 1rem 5%;
    }

    .header-bar {
        gap: 25px;
    }

    .web-name {
        font-size: 1.8rem;
    }
}

/*mobile*/
@media (max-width: 767px) {
    .header-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* two columns for links */
        width: 100%;
        text-align: center;
    }

    .web-name {
        font-size: 2rem;
    }

    .theme-change {
        order: -1; /* put the button at the top on mobile */
    }
}