* {
    box-sizing: border-box;
}

body {
        margin: 0;
        padding: 0;
        background-color: #d2deee;
        color: #333;
        line-height: 1.6;
    }


.header {
    background-color: #688fb8;
    padding: 1.5rem;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.web-name {
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.web-name a{
    text-decoration: none;
    background-color: #d2deee;
    border-radius: 10px;
    color: #333;
    padding: 15px 20px;
    transition: 0.5s;
}

.web-name a:hover{
    opacity: 0.8;
    
}

.header-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.header-bar svg{
   font-size: 20px;
    margin-bottom: 4px;
} 

.header-bar a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    color: #d2deee;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item svg {
    margin-bottom: 4px;
    fill: #333;
}

.header-bar a:hover {
    background-color: #d2deee;
    color: #333;
    padding: 10px 14px;
}

.theme-change {
    background-color: #d2deee;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 0.9rem;
    transition: 0.3s;
}

.theme-change:hover {
    opacity: 0.8;
    padding: 12px 20px;
}

.user-info{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    color:#688fb8;
}
.user-photo{
border-radius: 50%;
width: 200px;
height: 200px;
margin:10px
}

.button{
   
    padding: 8px 18px;
    background-color: #d2deee;
    color:#688fb8;
    border: none;
    font-size: 30px;
    text-transform: capitalize;
    cursor: pointer;
   

}
.cover-photo{
    width: 50ppx;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}
table{
    width: 98%;
    margin: 20px;
    border-collapse: collapse;
    color: #688fb8;
}
th{
    text-align: left;
    padding: 12px 15px;
    border-bottom: 2px solid #688fb8;
   
    text-transform: capitalize;
    font-size: 30px;

}
td{
    padding: 15px;
    border-bottom: 1px solid #688fb8;
    font-size: 20px;
    text-transform:uppercase ;
}

.row:hover{
    background-color: #688fb8;
    color: #d2deee;
    cursor: pointer;
}
